NET "CLK"            LOC = "C9"	| IOSTANDARD = LVCMOS33 ;

NET "SAIDA_J1<0>"    LOC = "B4"	| IOSTANDARD = LVTTL    | SLEW = SLOW  | DRIVE = 6 ;
NET "SAIDA_J1<1>"    LOC = "A4"	| IOSTANDARD = LVTTL    | SLEW = SLOW  | DRIVE = 6 ;
NET "SAIDA_J1<2>"    LOC = "D5"	| IOSTANDARD = LVTTL    | SLEW = SLOW  | DRIVE = 6 ;
NET "SAIDA_J1<3>"    LOC = "C5"	| IOSTANDARD = LVTTL    | SLEW = SLOW  | DRIVE = 6 ;
NET "SAIDA_J2<0>"    LOC = "A6"	| IOSTANDARD = LVTTL    | SLEW = SLOW  | DRIVE = 6 ;
NET "SAIDA_J2<1>"    LOC = "B6"	| IOSTANDARD = LVTTL    | SLEW = SLOW  | DRIVE = 6 ;
NET "SAIDA_J2<2>"    LOC = "E7"	| IOSTANDARD = LVTTL    | SLEW = SLOW  | DRIVE = 6 ;
NET "SAIDA_J2<3>"    LOC = "F7"	| IOSTANDARD = LVTTL    | SLEW = SLOW  | DRIVE = 6 ;

NET "PS2_CLK"        LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "PS2_DATA"       LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

NET "LCD_E"          LOC = "M18" | IOSTANDARD = LVCMOS33 | SLEW = SLOW 	| DRIVE = 4 ;
NET "LCD_RS"         LOC = "L18" | IOSTANDARD = LVCMOS33 | SLEW = SLOW 	| DRIVE = 4 ;
NET "LCD_RW"         LOC = "L17" | IOSTANDARD = LVCMOS33 | SLEW = SLOW 	| DRIVE = 4 ;
NET "SF_D<0>"        LOC = "R15"	| IOSTANDARD = LVTTL    | SLEW = SLOW  | DRIVE = 4 ;
NET "SF_D<1>"        LOC = "R16"	| IOSTANDARD = LVTTL    | SLEW = SLOW  | DRIVE = 4 ;
NET "SF_D<2>"        LOC = "P17"	| IOSTANDARD = LVTTL    | SLEW = SLOW  | DRIVE = 4 ;
NET "SF_D<3>"        LOC = "M15"	| IOSTANDARD = LVTTL    | SLEW = SLOW  | DRIVE = 4 ;