NET "CLK_50MHZ"	LOC = "C9"	| IOSTANDARD = LVCMOS33 ;

NET "J1<0>"			LOC = "B4"	| IOSTANDARD = LVTTL 	| SLEW = SLOW	| DRIVE = 6 ;
NET "J1<1>"			LOC = "A4"	| IOSTANDARD = LVTTL 	| SLEW = SLOW	| DRIVE = 6 ;
NET "J1<2>"			LOC = "D5"	| IOSTANDARD = LVTTL 	| SLEW = SLOW	| DRIVE = 6 ;
NET "J1<3>"			LOC = "C5"	| IOSTANDARD = LVTTL 	| SLEW = SLOW	| DRIVE = 6 ;

NET "J2<0>"			LOC = "A6"	| IOSTANDARD = LVTTL 	| SLEW = SLOW	| DRIVE = 6 ;
NET "J2<1>"			LOC = "B6"	| IOSTANDARD = LVTTL 	| SLEW = SLOW	| DRIVE = 6 ;
NET "J2<2>"			LOC = "E7"	| IOSTANDARD = LVTTL 	| SLEW = SLOW	| DRIVE = 6 ;
NET "J2<3>"			LOC = "F7"	| IOSTANDARD = LVTTL 	| SLEW = SLOW	| DRIVE = 6 ;


NET "PS2_CLK" 		LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "PS2_DATA" 	LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;