NET "SENS_UP"		LOC = "L13"		| IOSTANDARD = LVTTL 	| PULLUP ;
NET "SENS_DOWN"	LOC = "L14"		| IOSTANDARD = LVTTL 	| PULLUP ;

NET "BTN_UP"		LOC = "V4"		| IOSTANDARD = LVTTL 	| PULLDOWN ;
NET "BTN_DOWN"		LOC = "K17"		| IOSTANDARD = LVTTL 	| PULLDOWN ;

NET "LED_UP"		LOC = "F9"		| IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 8 ;
NET "LED_DOWN"		LOC = "E9"		| IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 8 ;
NET "MOTOR_UP"		LOC = "E12"		| IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 8 ;
NET "MOTOR_DOWN"	LOC = "F12"		| IOSTANDARD = LVTTL 	| SLEW = SLOW | DRIVE = 8 ;

NET "CLK"			LOC = "C9"			| IOSTANDARD = LVCMOS33 ;